# UTF-8 Encoding for all files
AddDefaultCharset UTF-8
AddCharset UTF-8 .html .css .js .php .xml .json

# Set default language
DefaultLanguage bn-BD

# Enable UTF-8 for directories
IndexOptions +Charset=UTF-8